.vscode/
.claude
AAAI2027
Baselines
logs
OralCLIP
OralGPT-series
outputs
pretrained
pretrained_models
*.md

OralDetect/analysis
OralDetect/bench_jsons
OralDetect/datas
OralDetect/visualization
OralDetect/tools
OralDetect/_outdate_files
OralDetect/launch_logs
OralDetect/*.md